html,
body {
  padding: 0;
  margin: 0;
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  user-select: none;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.game {
  background: #f0f287;
  width: 100%;
  min-height: 100%;
  max-height: 100%;
  position: relative;

  overflow: hidden;
}

.circles {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
}

.start {
  font-size: 100px;
  text-align: center;
  width: 100%;
  height: 100vh;
  font-family: arial;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  transition: opacity 0.2s ease-in-out;
  z-index: 1;
}

.move {
  transform: translateY(120vh);
}

.counter {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-family: arial;
  color: #f0f287;
  background-color: #333;
  padding: 10px;
  font-weight: bold;
  padding-top: 10px;
  font-size: 20px;
  position: relative;
  z-index: 9999;
}

.score {
  position: relative;
  font-size: 350px;
  font-family: arial;
  color: #26d140;
  /* text-align: center; */
  width: 100%;
  height: 100vh;
  background-color: #f0f287;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* line-height: 400px; */
}

.buttonTryAgain {
  width: 100px;
  height: 40px;
  background-color: #333;
  border-radius: 5px;
  color: #f0f287;
  font-weight: bold;
}
